* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: url("./img/background.jpg") no-repeat center / cover;
}
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    gap: 40px;
}
.gameOver{
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    animation: 2s reverse both running backgroundSize;
    transform-origin: center;
}
@keyframes backgroundSize {
    0% {
        background-color: white;
        height: 1800px;
        width: 1800px;
    }
    100%{
        background-color: red;
    }

}

#life_container{
    position: absolute;
    top: 20px;
    right: 70px;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
}
#life_container p {
    color: red;
    font-size: 50px;
}
.heart_animation{
    animation: 2s both running heartBeat;
}

@keyframes heartBeat {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.3);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
        transform: translateX(300px);
    }

}


/* resultContainer */
.resultContainer, #bestScore_container {
    position: absolute;
    top: 20px;
    padding: 20px 50px;
    background-color: teal;
    border-radius: 10px;
}
#bestScore_container{
    left: 70px;
    padding: 20px 70px;
}
.resultContainer p, #bestScore_container p {
    margin-bottom: 15px;
    font-size: 20px;
    color: white;
    font-weight: 200;
}

/* cicle_Container */
#cicle_Container{
    padding: 5px;
    height: 400px;
    width: 400px;
    padding: 10px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameOver_animation{
    animation: 0.3s reverse both running slide;
}

@keyframes slide {
    0% {
      transform: translateX(0px);
    }
    
    25%{
        transform: translateX(-10px);
    }
    75%{
        transform: translateX(20px);
    }
    100%{
        transform: translateX(-10px);
    }

}
.circle{
    background-color: transparent;
    height: 100%;
    width: 100%;
    /* background-color: antiquewhite; */
    border-radius: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    overflow: hidden;
}
#start_btn {
    position: absolute;
    height: 90px;
    width: 90px;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
}
#start_btn:hover {
    transform: scale(1.003);
}

/* cercle item */
.item {
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}
.item:nth-child(1){
    background-color: rgba(255, 255, 0, 0.6);
}
.item:nth-child(1):active{
    background-color: yellow !important;
}

.item:nth-child(2){
    background-color: rgba(0, 0, 255, 0.6);
}   
.item:nth-child(2):active{
    background-color: blue !important;
}

.item:nth-child(3){
    background-color: rgba(255, 0, 0, 0.6);
}
.item:nth-child(3):active{
    background-color: red !important;
}

.item:nth-child(4){
    background-color: rgba(0, 128, 0, 0.6);
}
.item:nth-child(4):active{
    background-color: green !important;
}

/* NextLevelPanel */
#NextLevelPanel, #gameOverPanel{
    width: 500px;
    height: 340px;
    background-color: #e0edd9;
    color: #174713;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: absolute;
    border-radius: 20px;
}
.make_visible {
    display: flex !important;
}
.make_invisible{
    display: none !important;
}
#NextLevelPanel p, #gameOverPanel p {
    font-weight: bold;
    font-size: 25px;
}

#NextLevelPanel button, #gameOverPanel button{
    border: none;
    padding: 14px 20px;  
    cursor: pointer;
    background-color: #236b1d;
    color: white;
    font-weight: 700;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}
#NextLevelPanel button:hover, #gameOverPanel button:hover{
    transform: scale(1.01);
}

#gameOverPanel{
    background-color: #ae130b;
    color: white;
    gap: 70px;
}
#gameOverPanel div{
    display: flex;
    gap: 30px;
}
#gameOverPanel button{
    background-color: rgb(232, 83, 83);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn_container{
    display: flex;
    gap: 80px;
}

.btn_container button{
    padding: 10px 20px;
    border: none;
    background-color: #1c2930;
    color: white;
    cursor: pointer;
    font-weight: 400;
    font-size: 17px;
    transition: all 0.2s;
}
.btn_container button:hover {
    transform: scale(1.01);
}